.movies{
    display: flex; 
    flex-direction: row;
    margin-left: 15px; 

}

.movies_singles{
    height: 150px; 
    cursor: pointer; 
}

.movies_singles img{
    width: 100%; 
    height: 95%; 
    object-fit: cover;

}